{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link
      type="text/css"
      href="{% static 'hsite/css/styles.css' %}"
      rel="stylesheet"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      rel="shortcut icon"
      href="{% static 'hsite/images/main.ico' %}"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div id="app">
      <div class="header">{% include './header.html' %}</div>
      {% include './sorting.html' %}
      <!-- Основной блок -->
      <div class="main">
        <!-- Блок контента -->
        <div class="content-text">
          {% block content %}{% endblock %} {% include './paginator.html' %}
        </div>
        <!-- Конец блока контента -->

        <!-- Sidebar справа -->
        <div class="sidebar">
          {% if request.user.is_authenticated %}
          <p class="ask">
            <a href="{% url 'ask' %}">Ask</a>
          </p>
          {% endif %}
          <p>sidebar</p>
        </div>
        <!-- Конец Sidebar'а -->
      </div>
      <!-- Конец основного блока -->
      <div class="footer">
        <div class="footer_up">
          <h4>Hasker</h4>
        </div>

        <hr />

        <div class="footer_down">Все права защищены. 2022 &copy;</div>
      </div>
    </div>
  </body>
</html>
