{% extends 'hsite/base.html' %} {% load static %} {% block content %}
<h1>{{question.title}}</h1>
<ul class="qa-list">
  <li>
    <div class="qa-line">
      {% with mode="question" pk=question.pk votes=question.get_votes %}
      {% include "./votes.html" %}
      {% endwith %}
      <div class="qa-text">
        <p>{{question.text}}</p>
      </div>
      <div class="qa-user">
        <div>
          {% if question.user.profile.avatar %}
          <img
          class="img-avatar thumb"
          src="{{ question.user.profile.avatar.url}}"
          />
          {% endif %}
          <div>
            {{ question.user }} 
          </div>
          <div class="qa-small-text">{{ question.get_q_age }}</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="qa-list">
  {% for a in answers_list %}
  <li>
    <div class="qa-line">
      {% with mode="answer" pk=a.pk votes=a.votes %} 
      {% include "./votes.html" %} 
      {% endwith %}
      <div class="qa-text">
        <p>{{a.text}}</p>
      </div>
      <div class="qa-user">
        <div>
          {% if a.user.profile.avatar %}
          <img class="img-avatar thumb" src="{{ a.user.profile.avatar.url}}" />
          {% endif %}
        </div>
        <div>
          {{ a.user }}
        </div>
        <div class="qa-small-text">{{ a.get_a_age }}</div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
<h3>Your answer</h3>
<form action="{% url 'answer' question.pk %}" method="post">
  {% csrf_token %}
  <div class="form-error">{{ form.non_field_errors }}</div>

  {% for f in answer_form %}
  <p><label class="form-label" for="{{ f.id_form.label }}"></label>{{ f }}</p>
  <div class="form-error">{{f.errors}}</div>
  {% endfor %}
  <button type="submit">Send</button>
</form>
{% endblock %}
